.home {
  color: white;
}

.button {
  background-color: white;
  color: 679dad;
  padding: 1.5rem 3rem;
  border: 1px solid black;
  border-radius: 5rem;
  font-size: 2rem;
  text-decoration: none;
}

.home-container h1 {
  font-size: 10rem;
  margin-bottom: 5rem;
}

.home-container {
  background-image: url(http://localhost:3000/homephoto.jpg);
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 8rem;
}

.movies {
  padding-left: 8%;
  padding-right: 8%;
}

.movies-list {
  display: flex;
  flex-flow: wrap;
}

.movie-container {
  width: 33.333%;
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.movie-image img {
  box-shadow: 3px 3px 3px 2px rgb(0, 0, 0, 0.2);
}

.movie-title {
  margin-top: 1rem;
}

.movies-title {
  margin-top: 1rem;
}

.movies-text {
  margin-top: 1rem;
}

.movie-details {
  display: flex;
}

.image-section {
  padding: 2rem;
}

.single-movie-image {
}

.details-section {
  padding: 2rem;
}

.single-movie-title {
  margin-top: 1rem;
}

.single-movie-director {
  margin-top: 1rem;
}

.single-movie-stars-header {
  margin-top: 1rem;
}

.single-movie-stars {
  margin-top: 1rem;
  margin-left: 1rem;
}

.single-movie-details {
  margin-top: 1rem;
}

.single-movie-times {
  margin-top: 1rem;
}

.see-more {
  padding-top: 1rem;
}

.see-more-link {
  color: #35befc;
}

.back-button {
  background: none;
  border: none;
  color: #35befc;
  text-decoration: underline;
}
